.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.Container{
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
}
.product {
  width: 200px;
  height: 250px;
  border: 1px solid #dddddd;
  margin-left: 20px;
}
.nameCont {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-bottom: 1px solid #dddddd;
}
.btnCont{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addBtn {
  font-size: 14px;
  color: #ffffff;
  background: #1041e0;
  padding: 5px 15px;
  cursor: pointer;
}
